
body {

  margin: auto;
  padding: .5in;
  max-width: 7in;
  text-align: justify;

}

h1 {

  font-size: medium;
  font-weight: bold;
  color: rgb(0,127,255);

}

a:link, a:visited {

  color: rgb(255,45,85);
  text-decoration: none;

}

pre {

  margin-left: .25in;
  margin-right: .25in;
  background-color: #fafafa;
  overflow-x: auto;

}

button {

  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250,250,250);

}
